body {
    font-family: 'Poppins' !important;
}

// #whatsapp {
//     cursor: pointer;
//     position: fixed;
//     bottom: 6vh;
//     right: 1vh;
//     max-width: 200px;
//     max-height: 200px;
//     background: #25d366;
//     border: none;
//     z-index: 999;
//     transition: all 0.5s;

//     &:hover {
//         background: black;

//         span {
//             max-width: 7rem;
//         }
//     }

//     .contact-us {
//         max-width: 0;
//         -webkit-transition: 1s;
//         transition: 1s;
//         display: inline-block;
//         vertical-align: top;
//         white-space: nowrap;
//         overflow: hidden;
//     }
// }

// #whatsapp-loading {
//     width: 40px;
//     height: 40px;
//     background: #25d366;
// }

#blog-content p {
    margin-bottom: 1em;
}

#blog-content img {
    display: block;
    margin: 0 auto;
}

#blog-content ul {
    list-style-type: disc;
    /* or 'circle' or 'square' */
    margin-left: 20px;
}

#blog-content ul li {
    margin-bottom: 0.5em;
}

#toggle-toc {
    cursor: pointer;
}

#toc {
    width: 500px;
    background-color: #f2f2f2;
    padding: 30px;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: #333333;
    transition: display 0.3s;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
}

#toc ol {
    /* list-style-type: decimal; */
    /* list-style-position: outside; */
    padding: 0;
}

#toc li {
    margin-bottom: 5px;
    color: #324376;
}

#toc ol ol ol {
    margin-left: 20px;
    list-style-type: none;
}

#toc a {
    text-decoration: none;
    color: #324376;
}

#toc a:hover {
    text-decoration: underline;
}

#toc-container {
    transition: max-height 0.3s ease;
    /* Add a smooth transition effect for max-height */
    overflow: hidden;
    /* Hide overflowing content when collapsed */
}

/* Media query for screens smaller than 768px (typical mobile devices) */
@media (max-width: 767px) {
    #toc {
        width: 100%;
        font-size: 14px;
        border-radius: 5px;
        border-style: solid;
        border-width: 1px;
        border-color: #333333;
        padding: 20px;
    }

    #toc li {
        font-size: 13px;
    }
}

#post-content h2 {
    margin-bottom: 18px;
    font-size: 24px;
    font-weight: 600;
    color: #324376;
}

#post-content h3 {
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 500;
    color: #324376;
}

#post-content h4 {
    margin-bottom: 8px;
    font-size: 18px;
    font-weight: 300;
    color: #324376;
}

#post-content p {
    margin-bottom: 14px;
    font-size: 16px;
    line-height: 1.5;
    color: #333333;
}

#post-content ul {
    list-style-type: disc;
    /* or 'circle' or 'square' */
    margin-left: 40px;
    margin-top: 14px;
    margin-bottom: 14px;
    /* color: #175ca3; */
}

#post-content ul li {
    margin-top: 5px;
}

#post-content ol {
    list-style-type: decimal;
    /* Use 'decimal' for numbers, 'lower-roman' for lowercase Roman numerals, 'upper-roman' for uppercase Roman numerals, etc. */
    margin-left: 40px;
    margin-top: 14px;
    margin-bottom: 14px;
    /* color: #175ca3; */
}

#post-content ol li {
    margin-top: 5px;
}

#post-content a {
    margin-top: 10px;
    font-size: 16px;
    line-height: 1.5;
    color: #004aad;
    text-decoration-line: underline;
}

#post-content img {
    margin-top: 16px;
    max-width: 90%;
    height: auto;
    /* margin: 0 auto; */
}

#post-content table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

#post-content th {
    background-color: #f2f2f2;
    font-weight: bold;
    text-align: left;
    padding: 10px;
    border: 1px solid #ccc;
}

#post-content tr {
    background-color: #ffffff;
}

#post-content td {
    text-align: left;
    padding: 10px;
    border: 1px solid #ccc;
}

#post-content tr:nth-child(even) {
    background-color: #f2f2f2;
}

#post-content tr:hover {
    background-color: #f5f5f5;
}

@media (max-width: 767px) {
    #post-content h2 {
        margin-top: 20px;
        font-size: 20px;
        font-weight: 600;
        color: #324376;
    }

    #post-content h3 {
        margin-top: 16px;
        font-size: 16px;
        font-weight: 500;
        color: #324376;
    }

    #post-content h4 {
        margin-top: 12px;
        font-size: 14px;
        font-weight: 300;
        color: #324376;
    }

    #post-content p {
        margin-top: 10px;
        font-size: 14px;
        line-height: 1.5;
        color: #333333;
    }

    #post-content table {
        font-size: 14px;
    }

    #post-content th,
    #post-content td {
        padding: 8px;
    }
}

/* whatsapp button */
#whatsapp {
    position: fixed;
    bottom: 90px;
    right: 26px;
    animation: fadeEffect 3s;
}
